MONGO_URI=
PUBLIC_BASE_URL=https://blackeagleuk.com
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=https://blackeagleuk.com/success.html
STRIPE_CANCEL_URL=https://blackeagleuk.com/cancel.html
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
